* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Arial, sans-serif;
  color: #333;
}

.logo-bg {
  background-image: url("assets/BG.jfif");
  background-repeat: repeat;
  background-color: #f2f2f0;
  min-height: 100vh;
}


.brand-logo {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.logo {
  height: 52px;
  width: auto;
  display: block;
}

.main-nav {
  background-color: #D4A24c;
  padding: 20px 20px;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  list-style: none;
}

.nav-link {
  background-color: #ffffff;
  color: #B41E2A;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 22px;
  border-radius: 50px;
  border: 2px solid #ffffff;
  transition: 0.3s;
}

.nav-link:hover {
  background-color: #D4A24c;
  color: #ffffff;
}

.page-title {
  text-align: center;
  padding: 36px 20px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background-color: #ffffff;
}

.title-logo {
  height: 70px;
  width: auto;
}

.page-title h1 {
  font-family: Cambria, Georgia, serif;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #B41E2A;
  padding: 10px 40px;
  border-radius: 20px;
  letter-spacing: 1px;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto 60px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.left-pair {
  display: flex;
  align-items: stretch;
  overflow: hidden;
}

.text-box {
  width: 500px;
  padding: 40px 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
}

.text-box.red {
  background-color: #B41E2A;
  color: #ffffff;
}

.text-box.gold {
  background-color: #D4A24c;
  color: #ffffff;
}

.text-box h2 {
  font-family: Cambria, Georgia, serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 6px;
}

.text-box p {
  font-size: 14px;
  line-height: 1.8;
}

.img-box {
  width: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  background-color: #D4A24c;
}

.sign-board {
  width: 100%;
  overflow: hidden;
}

.sign-board img {
  width: 100%;
  object-fit: cover;
  display: block;
}
.sign-board p {
  background-color: #ffffff;
  color: #B41E2A;
  text-align: center;
  padding: 10px;
  font-size: 15px;
}
.sign-board h1 {
  background-color: #ffffff;
  color: #B41E2A;
  text-align: center;
  padding: 10px;

}

.smbb {
  width: 100%;
  object-fit: cover;
  display: block;
}
 